@charset "utf-8";
@import "normalize";

@font-face {
font-family: "mlb_primary";
font-style: normal;
font-weight: bold;
src: url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-2.eot");
src: url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-2.eot?#iefix") format('embedded-opentype'),
url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-3.woff") format('woff'),
url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-1.ttf") format('truetype'),
url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-4.svg#web") format('svg');
}
@font-face {
font-family: "mlb_secondary";
font-style: normal;
font-weight: bold;
src: url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-2.eot");
src: url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-2.eot?#iefix") format('embedded-opentype'),
url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-3.woff") format('woff'),
url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-1.ttf") format('truetype'),
url("http://ui.bamstatic.com/clubs/mlb/fonts/benton_sans_cond_medium/6ec61f10-00ea-4ffd-a36b-26e2577a83f1-4.svg#web") format('svg');
}


#main {
  background-color: #000;
  font-family: mlb_primary,helvetica,arial,sans-serif;
  line-height: 1.4;
  font-size: 16px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }

  a {
    color: #333;
    text-decoration: none;

    .view-toggle {
      font-size: .8em;
      font-family: mlb_primary,helvetica,arial,sans-serif;
    }
  }

  h1 {
    color: #fff;
    font-family: mlb_primary,helvetica,arial,sans-serif;
    font-size: 2em;
  }

  h2 {
   color: #333;
   font-family: mlb_primary,helvetica,arial,sans-serif;
   font-size: 1.4em;
   height: 65px;
   line-height: 65px !important;
   text-align: center;
   margin: auto;
 }

  h3 {
    color: #666;
    font-family: mlb_primary,helvetica,arial,sans-serif;
    font-size: 1.125em;
    letter-spacing: .025em;
    margin: 0 0 1em 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td, th {
    padding: 0;
  }

  .label {
    font-weight: bold;
  }

  .container {
    margin: auto;
    max-width: 1276px !important;
    position: relative;
    background-color: #fff;
    padding: 0 30px;

    @media (max-width: 1276px) {
      padding: 0 2.5%;
    }
  }
  .container>section {
    padding-bottom: 1.5em;
  }

  #player-nav {
    font-family: mlb_primary,Arial,Helvetica,Sans-Serif;
    bottom: -65px;
    height: 65px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;

    display: block;

    @media (max-width: 990px) {
      nav div {
        width: 100%;
        float: none;
      }
    }

    >.container {
      background: url('http://ui.bamstatic.com/mlbv2/sections/player2/1.4.22/images/nav-bg.gif') !important;
      background-color: #fff;
      height: 100%;

    }

    @media(max-width: 529px){
        height: 50px;
        bottom: -50px;
    }

    @media (max-width: 400px){
      .container {
        padding: 0 4px;
      }
    }

    .player-vitals-mini {
      float: left;
      left: 0;
      position: relative;
      top: 65px;
      transition: .4s top;
      width: 400px;

      @media (max-width: 990px) {
        display: none;
      }

      img {
        float: left;
        height: 32px;
        margin: 17px 10px;
        vertical-align: middle;
      }

      .player-vitals-mini-name {
        color: #333;
        font-size: 1.3em;
        margin-top: 8px;
      }

      .player-vitals-mini-number {
        border-right: 1px solid #555;
        margin-right: 8px;
        padding-right: 8px;
      }
      span {
        color: #555;
      }
    }

    .player-nav-items {
      float: right;

      @media (max-width: 990px) {
          display: -webkit-flex;
          display: flex;
          float: none;
          width: 100%;
      }

      a {
        text-shadow: 0 1px #fff;
        display: block;
        float: left;
        padding: 0 .65em;
        margin: 0 .5em;
        height: 65px;
        line-height: 65px;
        color: #555;
        font-size: 1.2em;
        border-bottom: solid 0 transparent;
        background: transparent;
        text-align: center;
        vertical-align: middle;

        @media (max-width: 990px) {
          -webkit-flex: auto;
          flex: auto;
          padding: 0;
        }

        @media (max-width: 529px) {
          line-height: 50px;
          font-size: 1em;
          height: 50px;
        }

        @media (max-width: 400px) {
          font-size: .8em;
        }
      }
    }
  }


  #player-header {
    //Hitter
    background-image: url("../images/pose2.jpg");
    //Outfield
    //background-image: url("http://i.imgur.com/c5cDWcO.jpg");
    //Pitching
    position: relative;
    background-size: cover;
    background-position: top center;
    box-shadow: 0 -30px 50px 20px #000 inset;
    max-width: 1500px;
    margin: auto;

    @media (min-width: 991px) {
      margin: 0 auto 65px auto;
    }
    @media (max-width: 1280px) {
      box-shadow: 0 -30px 50px 0 #000 inset;
    }


    .player-headshot {
      position: absolute;
      bottom: -76px;
      left: 2.5%;
      width: 180px;
      padding: 10px;
      background-color: #ebebeb;
      border: 1px solid #cfcfcf;
      z-index: 2;
      -webkit-transition: .3s bottom;
      transition: .3s bottom;
      vertical-align: middle;

      @media (max-width: 990px) {
        border: 4px solid #fff;
        bottom: 16px;
        left: 2.5%;
        padding: 0;
        width: 20%;
      }
    }

    >.container {
      position: relative;
      background-color: transparent !important;
      padding-top: 33.3%;
    }

    .player-vitals {
      position: absolute;
      bottom: 16px;
      text-shadow: 1px 1px 11px #000;
      left: 252px;
      z-index: 1;

      h1 {
        margin-bottom: .1em;
      }

      li {
        float: left;
        list-style-type: none;
        color: #fff;
        font-family: mlb_primary,helvetica,arial,sans-serif;
        font-size: 1em;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #fff;
      }

      @media (max-width: 990px) {
        left: 2.5%;
        margin-left: 22.5%;
        bottom: 16px;
      }

      @media (max-width: 600px) {
        h1 {
            font-size: 1.5em;
        }
        li {
          font-size: .75em;
        }

        bottom: 8px;
        left: 16px;
        margin-left: 22.5%;

      }

      @media (max-width: 379px) {
        h1 {
            font-size: 1.25em;
        }

        li {
          margin-right: 6px;
          padding-right: 6px;
        }
      }
    }

    .mlbpa-logo {
      bottom: 16px;
      position: absolute;
      right: 16px;
      @media (max-width: 600px) {
        bottom: 8px;
        right: 8px;
        width: 30px;
      }
    }


  }
  #player-header.sticky-nav-enabled {
    max-width: 100%;
    max-height: 500px;

    @media (min-width: 991px) {
      .player-headshot {
        bottom: 76px;
        opacity: 0;
      }
    }
    #player-nav {
      background-image: url('../images/nav-bg.gif') !important;
      box-shadow: 0 2px 12px rgba(0,0,0,0.2);
      position: fixed;
      -webkit-transform: translateZ(0);
      top: 0;
      .player-vitals-mini {
        top: 0;
      }
    }
    .player-vitals {
      display: none;
    }
  }

  #summary .container {
    padding-top: 30px;
  }

  #quick-stats {
    .view-toggle {
      display: inline-block;
      float: left;
      clear: both;
    }

    .player-stats-summary-small {
      display: none;
    }

    @media (min-width: 811px) {
      .full-name {
        font-weight: bold;
        span {
          display: none;
        }
      }
    }

    .player-bio {
      float: left;
      width: 30%;
      padding-right: 2.5%;
      @media (max-width: 810px) {
          width: 100%;
      }
      h3 {
        display: none;
      }
      li {
        font-family: helvetica,arial,sans-serif;
        font-size: .875em;
        margin-bottom: .25em;
      }

      .twitter-buttons {
        li:first-child {
          margin-right: 2.5%;
        }
        li {
          float: left;
        }
      }
    }
/*
    .player-stats-summary-large {
      width: 70%;
      float: left;

      table {
        font-size: .8em;
        border: 1px solid #d2d2d2;
        width: 100%;
        margin-bottom: .75em;
        tr {
          border-bottom: 1px solid #e9e9e9;
          height: 31px;
        }

        td {
          padding: 6px;
          font-family: droid-sans-mono,courier;
          text-align: right;
        }

        td:first-child {
          background-color: #f6f6f6;
          border-right: 1px solid #e9e9e9;
          font-family: helvetica,arial,sans-serif;
          text-align: left;
        }
      }
    }*/

  }

  #global-footer-container {
      font: 12px arial,helvetica,sans-serif;
      background: #000;
      overflow: hidden;
      height: 200px;
      width: 100%;


  }
}
